@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/atkinson-hyperlegible-next/scss" as hyperlegible-next;

$weights: $font-weight-light, $font-weight-normal, $font-weight-semibold, $font-weight-bold;
$subsets: (latin, latin-ext);
$font-path: "./plugins/nodebb-theme-homebox" !default;


@include fontsource.faces(
	$metadata: hyperlegible-next.$metadata,
	$subsets: $subsets,
	$weights: $weights,
	$styles: all,
	$directory: "#{$font-path}/hyperlegible-next"
);
