// only overrides to bs5 variables here

// Homebox colours
$white:    #fff !default;
$gray-100: hsl(60 3% 96%) !default;
$gray-200: hsl(60 4% 93%) !default;
$gray-300: hsl(70 4% 75%) !default;
$gray-400: hsl(72 5% 53%) !default;
$gray-500: hsl(75 6% 34%)!default;
$gray-600: #6c757d !default;
$gray-700: hsl(75 10% 21%) !default;
$gray-800: hsl(75 14% 14%) !default;
$gray-900: hsl(75 18% 8%) !default;
$black:    #000 !default;

$blue:    hsl(213 24% 48%) !default;
$red:     hsl(6 26% 48%) !default;
$yellow:  hsl(42 28% 50%) !default;
$green:   hsl(139 24% 47%) !default;
$cyan:    hsl(190 26% 48%) !default;

$primary:       hsl(139 16% 43%) !default;
$secondary:     hsl(77 8% 17%) !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$body-color: 		$gray-800 !default;
$body-bg: 			$white !default;
$body-tertiary-bg: 	$gray-200 !default;
$text-muted: 		$gray-600 !default;
$border-color: 		$gray-200 !default;
$link-color: 		#0951be !default;

$form-check-input-border: var(--bs-border-width) solid $gray-500 !default;

$input-placeholder-color: $gray-600!important;

// no caret on dropdown-toggle
$enable-caret: false;

// disable smooth scroll, this makes window.scrollTo(0,0) in ajaxify.js take x milliseconds
$enable-smooth-scroll: false;

$enable-shadows: true;

$link-decoration: none;
$link-hover-decoration: underline;

// Custom fonts
$font-family-sans-serif: "Atkinson Hyperlegible Next", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-secondary: "Atkinson Hyperlegible Next", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-semibold: 500 !default;
$small-font-size: 0.875rem !default;

$breadcrumb-divider: quote("→");
$breadcrumb-divider-color: $gray-500 !default;
$breadcrumb-active-color: $body-color !default;
$breadcrumb-item-padding-x: 12px !default;

.form-control::placeholder, .bootstrap-tagsinput::placeholder {
	color: $gray-500 !important;
}

.btn-primary {
	color: $gray-200 !important;
}