// table color fix, remove once https://github.com/thomaspark/bootswatch/issues/1276 is published
.skin-darkly {
	table > :not(caption) > * > * {
		color: white;
	}
}

:root {
	.skin-darkly {
		--bs-border-color: #929292;
	}
}